@use "./../../styles/variables.scss" as *;

.about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    background: rgba(230, 230, 148, 0.1);
    gap: 20px;

    @media screen and (max-width: 650px) {
        padding: 20px;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .liner {
            height: 3px;
            width: 150px;
            background: linear-gradient(
                to right,
                $primaryText 30%,
                rgba(239, 243, 180, 0.2) 70%
            );
            border-radius: 10px;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $primaryText;
        }
    }

    .body {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        gap: 50px;

        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .sub-title {
            font-size: 18px;
            font-weight: 500;
            background-color: #57a585;
            color: #fff;
            width: fit-content;
            padding: 0 10px;
            border-radius: 20px;
        }

        .text {
            font-size: 14px;
            max-width: 500px;
            color: $gray;
        }

        .img {
            img {
                width: 100%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 25px;

            .sec-two {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;

                ul{

                    @media screen and (max-width: 650px) {
                    padding-left: 20px;
                }
                }

                @media screen and (max-width: 1000px) {
                    grid-template-columns: 1fr;
                    gap: 20px;
                }
            }
            .sec-one {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .text {
                    font-size: 14px;
                    max-width: 100%;
                    color: $gray;
                }
            }

            .sec-three {
                .sub-sec-one {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    @media screen and (max-width: 650px) {
                        flex-direction: column;
                        gap: 0;
                        align-items: flex-start;
                    }

                    .title {
                        font-size: 22px;
                        font-weight: 600;
                        flex-basis: 40%;

                        @media screen and (max-width: 650px) {
                            font-size: 18px;
                            margin-top: 10px;
                        }
                    }

                    .text {
                        color: $gray;
                        font-size: 14px;
                        flex-basis: 50%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
