.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #f8f9fa; // Adjust as needed
    // border: 1px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Added box shadow

    .logo {
        img {
            width: 80px; // Adjust logo size
            height: auto; // Adjust logo size
        }
    }

    .menu {
        display: block;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    .menu ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        margin: 0 15px;
    }

    .menu ul li a {
        text-decoration: none;
        color: #333; // Adjust text color
        font-weight: bold;
        transition: all 0.1s;

        &:hover {
            color: #57a585;
        }
    }

    .menu ul li a.active {
        color: #007bff; // Highlight active link
        border-bottom: 2px solid #007bff; // Optional underline for active link
    }

    .login-btn {
        display: flex;
        align-items: center;
        position: relative;

        a {
            text-decoration: none;
            color: #000; // Adjust link color
            margin: 0 5px;
        }

        a.active {
            font-weight: bold; // Highlight active link
        }

        .show-menu {
            display: none;

            @media screen and (max-width: 1000px) {
                display: block;
            }
        }

        .mobile-menu {
            position: absolute;
            top: 45px;
            right: -20px;
            background-color: #f8f9fa;
            height: 90vh;
            width: 300px;
            padding: 20px;
            z-index: 1;

            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
                gap: 20px;
            }

            ul li a {
                text-decoration: none;
                color: #333; // Adjust text color
                font-weight: bold;
            }
        }
    }
}
