section,
.section {
    padding: 0 0 !important;
}

.dropdown-active {
    color: #25d366;

    span {
        color: #25d366;
    }
}

.toggle-dropdown {
    transition: transform 0.3s ease;
}

.toggle-dropdown.rotated {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;

    a {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .toggle-dropdown {
        transition: transform 0.3s ease;
    }

    &:hover .toggle-dropdown {
        transform: rotate(180deg);
    }
}
