@use "./../../styles/variables.scss" as *;

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh;

    @media screen and (max-width: 891px) {
        background-color: transparent;
        align-items: flex-start;
    }

    .login-image {
        flex-basis: 50%;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
        }

        .logo_1 {
            width: 4%;
            position: absolute;
            top: 37%;
            left: 59%;
        }

        .logo_2 {
            width: 4%;
            position: absolute;
            top: 31%;
            left: 42.5%;
        }
    }

    .login-form {
        padding: 20px;
        height: auto;

        @media screen and (max-width: 891px) {
            background-color: #fff;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        // .login-form-header {
        //     margin-bottom: 20px;

        //     img {
        //         width: 150px;

        //         @media screen and (max-width: 891px) {
        //             width: 100px;
        //         }
        //     }

        //     &-text {
        //         font-size: 20px;
        //         font-weight: 600;
        //         margin-bottom: 10px;

        //         h5 {
        //             font-weight: 600;
        //             color: $primaryText;
        //         }

        //         h6 {
        //             font-size: 16px;
        //             margin-left: 50px;
        //         }

        //     }

        // }

        .login-form-header {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center; // <-- centers everything horizontally

            img {
                width: 150px;

                @media screen and (max-width: 891px) {
                    width: 100px;
                }
            }

            &-text {
                text-align: center; // <-- center-align text
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;

                h5 {
                    font-weight: 600;
                    color: $primaryText;
                }

                h6 {
                    font-size: 16px;
                    margin-left: 0px; // <-- remove or override left margin
                }
            }
        }

        .welcome-text {
            font-size: 14px;

            span {
                font-weight: 600;
                margin-bottom: 16px;
                color: $primaryText;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
