@use "./../../styles/variables.scss" as *;

.register-user-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(000, 000, 000, 0.7);
    z-index: 1215;

    .register-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        // height: 100vh;
        // padding: 20px;
        overflow: hidden;
        // margin-top: 80px;
        // width: 100%;
        // min-width: 500px;
        border-radius: 5px;

        @media screen and (max-width: 891px) {
            background-color: transparent;
            align-items: flex-start;
            overflow: auto;
        }

        .register-form {
            flex-basis: 100%;
            padding: 20px;
            height: auto;

            @media screen and (max-width: 891px) {
                background-color: #fff;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                flex-basis: 100%;
            }

            .register-form-header {
                margin-bottom: 5px;
                text-align: center;

                &-text {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 5px;

                    h5 {
                        font-weight: 600;
                        color: $primaryText;
                    }

                    h6 {
                        font-size: 16px;
                    }
                }
            }

            .welcome-text {
                font-size: 14px;
                margin-bottom: 10px;
                span {
                    font-weight: 600;
                    margin-bottom: 16px;
                    color: $primaryText;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media screen and (max-width: 891px) {
                    grid-template-columns: 1fr;
                    gap: 20px;
                }

                .dob-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                }

                .MuiFormControl-root,
                .MuiTextField-root {
                    grid-column: span 2; // spans across both columns
                }

                .btn-wrapper {
                    // border: 1px solid;
                    width: 100%;
                    margin-top: -6px;

                    @media screen and (max-width: 891px) {
                        margin-top: 16px;
                    }
                }

                .login-link {
                    font-size: 14px;

                    span {
                        color: $primaryText;
                        text-decoration: underline;
                        cursor: pointer;

                        @media screen and (max-width: 350px) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .MuiPickersOutlinedInput,
    .MuiPickersInputBase {
        height: 45px !important;
    }
}
