@use "./../../styles/variables.scss" as *;

.purchase-plan-wrapper {
    display: grid;
    padding: 20px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    height: 100vh;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .left-side {
        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        background-color: transparent;
        align-items: flex-start;
    }

    .purchase-plan-image {
        flex-basis: 50%;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
        }

        .logo_1 {
            width: 4%;
            position: absolute;
            top: 37%;
            left: 59%;
        }

        .logo_2 {
            width: 4%;
            position: absolute;
            top: 31%;
            left: 42.5%;
        }
    }
}
