html {
    scroll-behavior: smooth;
}

.tab-section-container {
    background: #f1f0d5;
}

.tab-content-container {
    position: relative;
    overflow: hidden;
    min-height: 200px;

    .tab-pane {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1.5rem;
        transition: transform 0.5s ease-in-out;

        &.slide-in-right {
            transform: translateX(100%);
        }

        &.slide-in-left {
            transform: translateX(-100%);
        }

        &.active-content {
            transform: translateX(0);
            position: relative;
        }
    }
}

.nav-tabs-custom {
    padding: 40px 0;
}

.nav-tabs-custom .nav-link {
    color: #0a5247 !important;
    // background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
        border-bottom: 2px solid #0a5247 !important;
        background: #f1f0d5;
    }

    &.active {
        border-bottom: 2px solid #0a5247 !important;
        color: #0a5247;
        background: #f1f0d5;
    }
}

.check-plan {
    color: #193440;
    background: #fff;
    font-family: var(--heading-font, sans-serif);
    font-size: 17px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px 0 5px;
    border-radius: 30px;
    transition: 0.4s;
    margin: 10px;
    border: 2px solid transparent;

    i {
        font-size: 35px;
        margin-right: 10px;
        transition: transform 0.3s ease;
    }

    &:hover {
        background-color: #ffc643;
        color: #000;

        i {
            transform: translateX(5px);
        }
    }
}

.slider_content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (min-width: 768px) {
        gap: 4rem;
    }

    @media (min-width: 992px) {
        gap: 8rem;
    }

    @media (min-width: 1200px) {
        gap: 12rem;
    }
}

.text-justify {
    text-align: justify;
}

.tab-content-container {
    position: relative;
    overflow: hidden;
    min-height: 200px;

    .tab-pane {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1.5rem;
        opacity: 0;
        transform: translateX(100%);
        transition:
            transform 0.5s ease,
            opacity 0.5s ease;

        &.active-content {
            position: relative;
            opacity: 1;
            transform: translateX(0);
            z-index: 1;
        }
    }
}

.tab-pane {
    &.fade-in {
        animation: fadeIn 0.5s ease;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
