@use './../../styles/variables.scss' as *;

.faq-wrapper {
    padding: 20px 50px;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .liner {
            height: 3px;
            width: 150px;
            background: linear-gradient(to right,
                    $primaryText 30%,
                    rgba(239, 243, 180, 0.2) 70%);
            border-radius: 10px;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $primaryText;
        }
    }

    .faq-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}