.customer-dob {
    width: 100% !important;
    display: block !important;
    margin-top: 8px !important;

    .MuiFormControl-root {
        width: 100% !important;
    }

    input {
        width: 100% !important;
    }
}
