.banner-wrapper {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    // background: url("./../../assets/images/login.jpg");
    // background-color: #cce4e9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        justify-content: flex-start;
        height: 95vh;
        padding: 10px 16px;
    }

    .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1000px) {
       justify-content: flex-start;
    }


    img {
        width: 100%;
        height: auto;
        max-width: 500px; // Optional: Controls how big it gets on large screens
        object-fit: contain;

        @media screen and (max-width: 1000px) {
            max-width: 400px;
        }

        @media screen and (max-width: 650px) {
            max-width: 300px;
        }
    }
}


    .content {
        padding: 20px;
        max-width: 800px;

        @media screen and (max-width: 650px) {
            padding: 0px;
            
        }

        .icon {
            font-size: 40px;

            @media screen and (max-width: 650px) {
                font-size: 28px;
            }
        }

        h1 {
            font-size: 40px;
            margin-bottom: 10px;

            @media screen and (max-width: 650px) {
                font-size: 20px;
                // margin: 1;
            }
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;

            @media screen and (max-width: 650px) {
                font-size: 18px;
            }
        }

        p {
            margin-top: 10px;
        }
    }
}
