.banner-wrapper {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

    @media screen and (max-width: 1000px) {
        justify-content: center;
        flex-direction: column;
        height: 70vh;
        padding: 20px;
    }

    .image {
        img {
            width: 100%;
            max-width: 600px;
        }
    }

    .content {
        padding: 20px;
        max-width: 400px;
    }
}
