* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Roboto", sans-serif;
  color: #333; // Dark text color
  line-height: 1.6;
  background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('./assets/images/background.jpg');
  background-size: cover;
  
}