*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0; // Light background color
  color: #333; // Dark text color
  line-height: 1.6;
}