.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-bg {
        height: 740px;
        background-image: url("./../../assets/img/footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.contact-section {
    background-color: #193440;
    padding: 20px;
    color: #fff;
    height: fit-content;
}

.links {
    a {
        color: #fff !important;
        text-decoration: none;
    }
}

.logo-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 15px;
}
.more-info {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
        gap: 0px;
    }
}
p {
    margin-bottom: 10px !important;
}

.contact-heading {
    font-size: 4rem;
    font-weight: bold;
    color: #f8f4ed;
}

.contact-subheading {
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-info {
    font-size: 1rem;
}

.social-icons {
    span {
        margin-right: 20px;
    }
}

.social-icons a {
    margin-right: 20px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffca2c;
}
